/*CLASS*/
:root {
   
    --cor-um: #6E300D;
    --cor-dois: #FFE5D2;
    --cor-tres: #EEA875;
    --cor-quatro: rgba(238, 238, 238, 0.8);
    --cor-cinco: #C26825;
    --cor-seis: #1E324A;
    --cor-sete: #EEEEEE; 

}

.title { width:100%; float:left; margin-top:40px; margin-bottom:40px; padding-bottom:10px;  font-family:'open_sansbold'; font-size:2em; font-weight:bold; text-transform:uppercase; }
.title.branco   { color:var(--cor-dois); }
.title.laranja  { color:var(--cor-cinco); }
.title.preto    { color:var(--cor-seis); }
.title.vermelho { color:var(--cor-cinco); }
.title.center    { text-align:center; }

.whatsapp_position { 
    position: fixed;
    bottom: 20px;
    right: 20px; 
    z-index: 9999;
}
.rwb-tooltip{background-color: var(--cor-sete);}



/*Botão Padrao Inicio*/
.btn_social { float:left; }
.btn_social li { width:40px; height:40px; line-height:40px; position: relative; background:var(--cor-tres); list-style:none; float:none; margin-right:5px; z-index:1; border-radius:50%; font-size:1.2em; text-align:center; transition:.4s ease-in-out; display: inline-block; }
.btn_social li a { display:block;  text-decoration:none; color:#fff; transition:.3s ease-in-out;}
.btn_social li:before { position:absolute; content:''; width:100%; height:100%; top:0; left:0; background:var(--cor-dois); border-radius:50%; z-index:-1; transform: scale(0); transition:.3s ease-in-out; }
.btn_social li:hover:before { transform:scale(0.9); }
.btn_social li a:hover { color:var(--cor-tres); }
/*Botão Padrao Fim*/

.content { float:left; width:92%; margin:0 4%; padding: 20px 0; }

/*HEADER*/
.main_header          { background:var(--cor-um); z-index:1; }
.main_header .content { float:left; padding:0px 0; }

.main_header.fixed { display:block; position:fixed; z-index:99; }

.main_header_logo { font-size:0; float:left; }
.main_header_logo img { width: 250px; height: auto; margin-top: 1.75rem;}

.mobile_action { color:var(--cor-sete); text-align:center; width:40px; height:40px; line-height:45px;  font-size:1.8em; float:right; cursor:pointer; margin:30px 8px;  }
.mobile_action.active { color:var(--cor-sete); }

/*MENU*/

/*1279PX BREAKPOINT - 1279 dividido por 16 = 79.9375em*/
@media (max-width: 79.9375em){
.main_header_nav { position:fixed; left:-100%; background-color:var(--cor-sete); top:0; width:76%; min-width:200px; max-width:360px; height:100%; overflow:hidden; overflow-y:auto; -webkit-box-shadow:5px 0px 5px -5px rgba(0,0,0,0.75); -moz-box-shadow:5px 0px 5px -5px rgba(0,0,0,0.75); box-shadow:5px 0px 5px -5px rgba(0,0,0,0.75); z-index:99;  }
.main_header_nav_item      { float:left; width:100%; position:relative; }
.main_header_nav_item > a  { float:left; width:100%; padding:30px 30px; font-family:'open_sansregular'; text-decoration:none; color:var(--cor-seis); font-size:1em; font-weight: 700;}
.main_header_nav_item:hover,.main_header_nav_item > a:hover { background-color:var(--cor-um); color:var(--cor-sete); }
.main_header_nav_item  span   { width:25px; height:25px; line-height:28px; text-align:center; font-size:1.2em; float:right; display:block; }

}

/*PAG*/

.coluna { width:100%; float:left; margin-bottom:30px; }

/*Chamada*/
.apresentacao{
    display: flex;
    justify-content: center;
    background-image: url('/img/apresentacao.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.apresentacao_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    padding: 2rem;
}

.apresentacao_card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    background: var(--cor-quatro);
    border-radius: 1rem;
    max-width: 600px;
    min-width: 300px;
}

.apresentacao_card h1{
    color: var(--cor-seis);
    font-weight: 700;
}

.logo{
    width: 10rem;
    height: auto;
}

.apresentacao_text{
    padding-top: 1rem;
    color: var(--cor-seis);
}

.botao_apresentacao{
    margin-top: 1rem;
    padding: 1rem 2rem;
    background: var(--cor-um);
    color: var(--cor-dois);
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.botao_apresentacao:hover{
    background: var(--cor-cinco);
    color: var(--cor-seis)
}

@media (max-width: 768px){
    .apresentacao{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}

section.sobre_nos {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--cor-sete);
    width: 100%;
    height: auto;
}

.sobre_infos,
.sobre_imagen {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 2rem;
    padding-left: 4rem;
}


.sobre_infos {
    flex-direction: column; 
    text-align: center;
}

.sobre_titulo {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: var(--cor-seis);
    font-weight: 600;
}

.sobre_subtitulo {
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 1rem;
    color: var(--cor-cinco);
    max-width: 75%;
    font-weight: 600;
}

.sobre_texto {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
    color: #666;
    max-width: 75%;
}


.sobre_imagen {
    display: flex;
    justify-content: center;
    align-items: center;
}

.empresa_img {
    width: 60%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

/* Responsividade */
@media (max-width: 768px) {
    section.sobre_nos {
        flex-direction: column;
    }

    .sobre_infos {
        flex: none;
        width: 100%;
        text-align: center;
    }

    .empresa_img {
        width: 80%; 
        height: auto;
    }

    .sobre_infos,
    .sobre_imagen {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 2rem;
    padding-left: 2rem;
}

} 



/*Cardápio*/
.section-cardapio          { background-color:var(--cor-sete); }
.section-cardapio .content { float:left; padding: 0.5em 0 0em 0; }

.hover_cardapio {  width:100%; height:100%; margin-bottom:2em; float:left; position:relative; overflow:hidden; }
.hover_cardapio .hoverMascara          { overflow:hidden; border-radius:100%; position:relative; margin-bottom:1em;  background-color:#939393; }
.hover_cardapio .hover_cardapio_hover  { left:0; top:0; -webkit-transform:scale(1);  transform:scale(1); background:rgba(255,0,98,0); border-radius:100%; z-index:2; width:100%; height:100%; position:absolute; transition:all 400ms; -moz-transition:all 400ms;  -ms-transition:all 400ms; -o-transition:all 400ms; -webkit-transition:all 400ms; }
.hover_cardapio:hover .hover_cardapio_hover  { left:0; top:0; -webkit-transform:scale(1); transform:scale(1); background: rgba(255, 139, 15, 0.6);}
.hover_cardapio:hover .appIcone  { left:0; top:23%; opacity:100; }
.hover_cardapio:hover .appTitulo { left:0; top:33%; opacity:100; }
.hover_cardapio:hover .appFoto  { left:0; top:0;  opacity:1; -webkit-transform:scale(1); transform:scale(1); transition:all 500ms; -moz-transition:all 500ms;  -ms-transition:all 500ms; -o-transition:all 500ms; -webkit-transition:all 500ms; }
.hover_cardapio .appFoto   { left:0; top:0; opacity:1; -webkit-transform:scale(1.05); transform:scale(1.05); max-width:100%!important; width:100%; height:auto; border-radius:100%; position:relative; border:none; display:block; }
.hover_cardapio .appIcone  { display:block; font-family: Helvetica, sans-serif; position:absolute; opacity:0; top:18%; left:0; z-index:3; color:#fff; text-align:center; width:100%; font-size:3em; }
.hover_cardapio .appTitulo { display:block; font-family: Helvetica, sans-serif; position:absolute; opacity:0; top:35%; left:0; z-index:3; color:#fff; text-align:center; width:100%; font-size:1em; text-decoration:none;  }
.hover_cardapio .appIcone,.appTitulo,.appFoto, .hover_cardapio .hover_cardapio_hover{ transition:all 500ms; -moz-transition:all 500ms; -ms-transition:all 500ms; -o-transition:all 500ms; -webkit-transition:all 500ms; }
.hover_cardapio .descricao    { background-color:transparent; float:left; width: 100%;  display:block; text-align:center; padding: 0.5em; }
.hover_cardapio .descricao h4 { width:100%; float:left; color:var(--cor-cinco); font-size:1.3em; font-family:'open_sansregular', sans-serif; margin-bottom:2em; }
.hover_cardapio .descricao p  { width:100%; float:left; color: var(--cor-seis); font-size:1em;  font-family:'open_sanslight', sans-serif; margin-bottom:1em;  }

/*Cardápio*/

/*Galeria*/
.section-galeria          { background-color:var(--cor-sete); }
.section-galeria .content { float:left; padding: 0.5em 0 0em 0; }

.galeria-foto { width:100%; float:left; position:relative; overflow:hidden; }
.galeria-foto .foto .mascara    { background:rgba(0,0,0,0); transition:0.5s; position:absolute; width:100%; height:100%; left:0; bottom:0;  }
.galeria-foto .foto .image-link { -webkit-transform:scale(0.5); transform:scale(0.5); display:block; position:absolute; left:35%; bottom:45px; text-align:center;	width:40px; height:40px; line-height:40px; font-size:1.8em; background: transparent; color:#ffffff; text-decoration:none; transition:all .3s ease-in-out; opacity:0; margin-left:20px; margin-bottom:20px;  }

.galeria-foto .foto   { width:100%; float:left; display:block; margin-bottom:5%; border:1px #e3e3e3 solid; border-radius:6px; position:relative; overflow:hidden; }
.foto:hover .image-link { -webkit-transform:scale(1.5); transform:scale(1.5); transition: all .3s ease-in-out; opacity:1; } 
.foto:hover .mascara    { background: rgba(255, 130, 0, 0.57); } 

/*Termina Galeria*/

/*Contato*/
.section-contato          { background-color:var(--cor-um); }
.section-contato .content { float:left; padding: 0.5em 0 0em 0; }
 
.formulario       { width:100%; height:100%; float:left; }
.formulario label { width:100%; float:left; margin-bottom:15px; }
.formulario label span { font-size:1em; color: #17badf; float:left; margin-bottom:5px; font-family:'open_sansregular'; }
.formulario .campo     { font-size:1.2em; color:#7b7979; font-family:'open_sansregular'; outline:none; border:1px #dee5ed solid; border-radius:3px; padding:0.6em; transition:.5s; }
.formulario .campo:focus { box-shadow:0 0 4px 0px rgb(255, 130, 0); border:1px rgb(255, 130, 0) solid; color:#ff8200; }
.formulario .btn-enviar  { width:160px; float:left; margin-top:5px; background-color:#ffffff; color:#7b7979; border: 1px #dee5ed solid; border-radius:3px; cursor:pointer; padding:0.5em 0em; font-size:1.5em; font-family:'open_sansregular'; transition: 0.2s; }
.formulario .btn-enviar:hover { background-color:var(--cor-cinco); color:#ffffff; border: 1px var(--laranja) solid;}

.info     { width:100%; float:left; display:block; margin-bottom:20px; }
.info p   { width:100%; margin-bottom:5px; font-size: 0.79em; color:#7b7979; }
.info p i { margin-right:5px; }

/*DEPOIMENTOS*/
.cor{color: var(--cor-seis);}
.section-reviews-google{padding: 5rem 4rem; background-color: var(--cor-sete);}
.section-reviews-instagram{padding: 2rem; background-color: var(--cor-sete);}


/*FOOTER*/
.main_footer { background-color:var(--branco); color:var(--preto); font-size:0.875em; }
.main_footer .content { float:left; width:80%; margin:0 10%; padding: 5em 0; }
.container { float:left; width:100%; position: relative; z-index: 1;}

.main_footer_copy          { width:100%; float:left; text-align:center; }
.main_footer_copy .content { padding:1.2em 0em!important; }
.main_footer_copy p        { font-family:'open_sanslight'; font-size:0.95em; color:var(--preto); float:left; }
.main_footer_copy .t-copy-footer   { float:left; width:100%; margin-bottom:3px; }
.main_footer_copy .by         { float: left; width: 100%; font-size: 0.95em; }
.main_footer_copy .by a       { text-decoration:none; color:var(--preto); display:inline; }
.main_footer_copy .by a:hover { text-decoration:underline; color:var(--laranja); }
.main_footer_copy .by i       { font-size:0.96em; margin-right:3px; color:var(--preto); }
.coluna_titulo { color:var(--cor-dois); padding-bottom: 0.5rem; text-align: end;}
.coluna_subtitulo { color:#7b7979; padding-bottom: 1rem; text-align: end; margin-bottom: 0.5rem}


/*480PX BREAKPOINT*/
/*480 dividido por 16 = 30em*/
@media (min-width:30em){

.box-css { float:left; width:48%; margin-right:4%; min-height: 300px;}
.box-css:nth-of-type(2n+0) {margin-right:0; }


.info p   { font-size:1em; }

}

/*600PX BREAKPOINT*/
/*600 dividido por 16 = 37,5em*/
@media (min-width:37em){

.topoPag .centraliza h1 { font-size:3em; margin-top:20px; }
.topoPag .centraliza p   { font-size:1.1em; }

} 

/*768PX BREAKPOINT*/
/*768 dividido por 16 = 48em*/
@media (min-width:48em){

.main_header_logo{ background:transparent; z-index:98;}

.section_title   { font-size:2em; font-weight:300; text-align:left; }

.blocoArtigo .desc h3    { font-size: 1.5em; }

.box-css:nth-of-type(2n+0), 
.box-css  { float:left; width:23.5%; margin-right:2%; }
.box-css:nth-of-type(4n+0) {margin-right:0; }
.box-css h1 {font-size:1em!important; }

.galeria-foto .foto { width:48%; margin-right:4%; margin-bottom:4%;}
.galeria-foto .foto:nth-of-type(2n+0) { margin-right:0; }

.hover_cardapio { width:32%; margin-right:2%; margin-bottom:0em; }
.hover_cardapio:nth-of-type(3n+0) { margin-right:0px; }

.section-cardapio .content { float:left; padding: 2em 0 2em 0; }
.section-galeria .content  { float:left; padding: 2em 0 2em 0; }
.section-contato .content  { float:left; padding: 2em 0 2em 0; }


.info   { margin-bottom:20px; }
.coluna { width:48%; float:left; margin-right:4%; margin-bottom:0; }
.coluna:nth-of-type(2n+0) { margin-right:0; }

.main_footer_copy p                { font-size:1em; }
.main_footer_copy .t-copy-footer   { float:left; width:auto; }
.main_footer_copy .by              { float:right; width:auto; }

} 

/*960PX BREAKPOINT*/
/*960 dividido por 16 = 60em*/
@media (min-width:60em){

.topoPag .centraliza h1 { font-size:4em;}
.topoPag .centraliza p  { letter-spacing:6.5px; }

}


/*1024PX BREAKPOINT*/
/*1024 dividido por 16 = 64em*/
@media (min-width:64em){


}

/*1280PX BREAKPOINT*/
/*1280 dividido por 16 = 80em*/
@media (min-width:80em){

    .mobile_action   { display:none; }
    .main_header_nav { float:right; width:auto; }
    .main_header_nav a:hover, .main_header_nav> li:hover > a{color:var(--cor-seis); }
    .main_header_nav a.menuAtivo{color:var(--cor-seis); }

    .main_header_nav_item { position:relative; display:inline-block;}
    .main_header_nav_item:last-of-type { margin-right:20px;} 

    .main_header_nav_item  span   { display:none;}

    .main_header_nav_item > a  { color:var(--cor-sete); float:left; padding:1.5em 1em; font-size:0.95em; font-family:'open_sansbold'; text-decoration:none; text-transform:uppercase; }
    .main_header_nav_item:hover, 
    .main_header_nav_item > a:hover { background:var(--cor-sete); color:var(--cor-dois)!important; }
    .galeria-foto .foto:nth-of-type(2n+0), 
    .galeria-foto .foto { width:23.5%; margin-right:2%; margin-bottom:2%; }
    .galeria-foto .foto:nth-of-type(4n+0) { margin-right:0; }

    .topoPag .centraliza h1 { font-size:2em; margin-top:50px; }
    .topoPag .centraliza p  { font-size:1em; letter-spacing:20px; }
}

/*1366PX BREAKPOINT*/
/*1366 dividido por 16 = 85,375em*/
@media (min-width:85em){

 .content  { width:80%; margin:0 10%; }

}

/*1600PX BREAKPOINT*/
/*1600 dividido por 16 = 100em*/
@media (min-width:100em){

}

.ticktok{
    width: 18px;
}


.contai_ner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 2rem;
}

.panel {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 1rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
    -webkit-transition: all 700ms ease-in;
}

.panel h3 {
  font-size: 1.5rem;
  bottom: 20px;
  left: 20px;
  padding: 1rem ;
  margin: 1rem 1rem 0 1rem;
  opacity: 0;
}

.panel p {
    font-size: 1rem;
    padding: 1rem;
    margin: 0 1rem 1rem 1rem;
    opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3, .panel.active p {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}


@media (max-width: 550px) {
  .contai_ner {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 80vw;
  }

  .panel {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 1rem;
  }

  .panel p, .panel h3{
    opacity: 1;
  }
  
  .container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    }
}



